*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #1FA774 #ffffff;

} 

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1FA774;
    border-radius: 20px;
    order: 3px solid #ffffff;
  }

html,body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}